In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression 

warnings.filterwarnings(action='ignore')

In [3]:
train = pd.read_csv("../input/titanic/train.csv")
test = pd.read_csv("../input/titanic/test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
full = pd.concat([train,test])
y = train.Survived
full.drop(['Survived','PassengerId'],axis=1,inplace=True)

In [5]:
print(full.shape)
full.head()

(1309, 10)

,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
full.drop('Cabin',axis=1,inplace=True)
full['Age'] = full['Age'].fillna(full['Age'].median())
full['Embarked'] = full['Embarked'].fillna(full['Embarked'].mode().iloc[0])
full['Fare'] = full['Fare'].fillna(full['Fare'].median())

In [7]:
cat_cols = ['Pclass','Sex','Embarked']
num_cols = ['Age','SibSp','Parch','Fare']
full.drop(['Name','Ticket'],axis=1,inplace=True)
#full = full.select_dtypes(include='float64').astype('int')
le = LabelEncoder()
scaler = MinMaxScaler()

full['Sex'] = le.fit_transform(full['Sex'])
for col in ['Pclass','Embarked']:
    full = pd.concat([full,pd.get_dummies(full[col],prefix=col)],axis=1)
    full.drop(col,axis=1,inplace=True)
for col in num_cols:
    full[col] = scaler.fit_transform(np.array(full[col]).reshape(-1,1))

#train["Age"] = train["Age"].fillna(train["Age"].median())
#test["Age"] = test["Age"].fillna(test["Age"].median())

#train['HasCabin'] = train['Cabin'].apply(lambda x:0 if x is np.nan else 1)
#test['HasCabin'] = test['Cabin'].apply(lambda x:0 if x is np.nan else 1)

#sex_mapping = {"male": 0, "female": 1}
#for dataset in all_data:
#train['Sex'] = train['Sex'].map(sex_mapping)
#test['Sex'] = test['Sex'].map(sex_mapping)


#test["Age"].fillna(test.groupby("Status")["Age"].transform("median"), inplace=True)

In [8]:
df_train = full[:train.shape[0]]
df_test = full[train.shape[0]:]
y = train.Survived

print('train size now : {} \n test size now : {} \n train size before : {} \n test size before : {}'
     .format(df_train.shape,df_test.shape,train.shape,test.shape))

train size now : (891, 11)
 test size now : (418, 11)
 train size before : (891, 12)
 test size before : (418, 11)

In [9]:
def correlation_heatmap(df):
    _ , ax = plt.subplots(figsize =(14, 12))
    colormap = sns.diverging_palette(220, 10, as_cmap = True)
    
    _ = sns.heatmap(
        df.corr(), 
        cmap = colormap,
        square=True, 
        cbar_kws={'shrink':.9 }, 
        ax=ax,
        annot=True, 
        linewidths=0.1,vmax=1.0, linecolor='white',
        annot_kws={'fontsize':12 }
    )
    
    plt.title('Pearson Correlation of Features', y=1.05, size=15)

#correlation_heatmap(train)
#train.columns
#X=train.copy()

In [10]:
#X = X.drop(["PassengerId","Name","SibSp","Ticket","Cabin"],axis=1)

In [11]:
#print(X.shape)
#train["Embarked"] = train["Embarked"].fillna('S')
#test["Embarked"] = test["Embarked"].fillna('S')

In [12]:
#train.isna().sum()
#X["Age"] = X["Age"].fillna(X["Age"].median())

In [13]:
#features = ["Pclass","Sex","Age","Embarked","Fare","HasCabin"]
#y_full = train.Survived
#X_full = pd.get_dummies(train[features])

#X_test_full = pd.get_dummies(test[features])

X_train, X_valid, y_train, y_valid = train_test_split(df_train, y, train_size=0.8, test_size=0.2,random_state=42)
#nan = X["Embarked"].loc[X["Embarked"].isna()]
#X = X.drop(index=nan.index)
#y = X.Survived
#X = X.drop("Survived",axis=1)

In [14]:
# RANDOM FOREST 

model = RandomForestClassifier(n_jobs=10,max_depth=4,random_state=42)
#model.fit(X_train,y_train)
#predictions = model.predict(X_valid)
#accuracy_score(predictions,y_valid)
model.fit(df_train,y)

RandomForestClassifier(max_depth=4, n_jobs=10, random_state=42)

In [15]:
#LOGISTIC REGRESSION

model2 = LogisticRegression()
model2.fit(X_train,y_train)
pred = model2.predict(X_valid)
accuracy_score(pred,y_valid)

#X_test_full["Fare"]=X_test_full["Fare"].fillna(X_test_full["Fare"].median())

0.7988826815642458

In [16]:
gender_submission = pd.read_csv("../input/titanic/gender_submission.csv")
#submission = model.predict(df_test)
gender_submission['Survived'] = model.predict(df_test)
gender_submission.to_csv("sub.csv",index=False)

In [17]:

#output = pd.DataFrame({"PassengerId" : test.PassengerId, "Survived" : submission})

In [18]:
#gender_submission = output
#output.to_csv("submission.csv",index=False)